<!DOCTYPE html>
<html lang="en">
<head>
    <title>Poetry</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="poetry-bg">
    <p>He was beautiful.</p>
    <p>He was the point of difference.</p>
    <p>He has always been the point of difference.</p>
    <p>Unparalleled.</p>
    
    <p>And maybe today,</p>
    <p>There will, of course, always be those who argue,</p>
    <p>Always be those who debate.</p>
    <p>And the debate can rage on if you like.</p>

    <p>But as he falls in love</p>
    <p>With the object in the world that his heart most desired,</p>
    <p>It is hard to escape the supposition</p>
    <p>That he has rendered himself today</p>
    <p>The greatest of all time.</p>

    <a href="{{ url_for('home') }}"><button>Back</button></a>
</body>
</html>
